<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="article.title"></h1>
    </div>

    <map  center="[37.391408, -5.994451]" zoom="13">

      <marker position="[37.398946, -5.968450]" visible="true"></marker>

  </map>
  <div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
    <a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
        <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="delete();">
        <i class="glyphicon glyphicon-trash"></i>
    </a>
</div>


<small>
    <em class="text-muted">
        Creado el
        <span data-ng-bind="article.created | date:'mediumDate'"></span>
        por
        <em data-ng-bind="article.creator.fullName"></em>
    </em>
</small>


<p class="lead" data-ng-bind="article.content"></p>
Latitud: 
<p class="lead" data-ng-bind="article.lat"></p>
Longitud: 
<p class="lead" data-ng-bind="article.lon"></p>



</section> 


