<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/lib/css/main.css" rel="stylesheet" media="screen">
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/lib/bootstrap-3.3.6-dist/css/bootstrap.css">
	
</head>
<body>
	<div class="container-narrow">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">GitHub</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>
		<h3 class="text-muted">BiciApp</h3>
		<hr>
		<div class="jumbotron">
			<h1> BiciApp!</h1>
			<p class="lead">La aplicación con todo lo que necesitas para moverte en bicicleta por Sevilla.</p>
			<img src="/img/landing-page-bike.png" alt="">
			
			<section ng-view></section>
			
			<a href="https://twitter.com/BiciApp" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @BiciApp</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://twitter.com/intent/tweet?screen_name=BiciApp" class="twitter-mention-button" data-size="large">Tweetea a @BiciApp</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="biciApp!" data-text="Prueba la nueva app -" data-size="large">Tweet</a>
		</div>

	</div>



	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrn605l7RPadiwdzsOlRw9O28lxfYBJ6s"></script>
	




	<script src="/lib/lodash/dist/lodash.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-utils/index.js"></script>
	<script type="text/javascript" src="/lib/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/lib/ngmaps/dist/ng-map.min.js"></script>



<!-- Load the bikeshops module -->
	<script type="text/javascript" src="/bikeShops/bikeshop.client.module.js"></script>
	<script type="text/javascript" src="/bikeShops/controllers/bikeshop.client.controller.js"></script>
	<script type="text/javascript" src="/bikeShops/services/bikeshop.client.service.js"></script>
	<script type="text/javascript" src="/bikeShops/config/bikeshop.client.routes.js"></script>

	<!-- Load the articles module -->

<script type="text/javascript" src="/articles/articles.client.module.js"></script>
	<script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
	<script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
	<script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

	<!-- Load the example module -->
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<!-- Load the users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	


	<script type="text/javascript" src="/application.js"></script>
</body>
</html>