<!DOCTYPE html>
<html>
<head>
	
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/lib/css/signin.css" rel="stylesheet" media="screen">
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/lib/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'>
</head>
<body>

	<div id="login">

		<h1><strong>Bienvenido</strong></h1>
		<% for(var i in messages) { %>
		<div class="flash"><%= messages[i] %></div>
		<% } %>

		<form "/signin" method="post">

			<fieldset>

				<p><input type="text" name="username"></p>

				<p><input type="password" name="password"></p> 
				<p><a href="#">¿Olvidaste tu contraseña?</a></p>

				<p><input type="submit" value="Iniciar sesión"></p>

			</fieldset>

		</form>


<!-- 
		<a href="/oauth/facebook">Entrar con Facebook</a>
	<a href="/oauth/twitter">Entrar con Twitter</a>
	<a href="/oauth/google">Entrar con Google</a>
 -->

	</div> 

	

	<script type="text/javascript" src="/lib/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/lib/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>